aiogram
aiohttp
appdirs
async-timeout
attrs
Babel
backoff
beautifulsoup4
bs4
certifi
cffi
chardet
colorama
deezer-python
discord
discord.py==1.3.4
distlib
filelock
idna
multidict
numpy
pafy
pandas
pycparser
PyNaCl
PySocks
python-dateutil
pytz
requests
six
soupsieve
spotify
spotipy
stem
termcolor
torrequest
urllib3
requests[socks]
virtualenv
websockets
yandex-music
yarl
youtube-data-api
youtube-dl
ffmpeg
ffmpeg-python
